client
dev tun
proto {{ openvpn_proto }}
remote {{ ansible_default_ipv4.address }} {{ openvpn_port }}
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
cipher {{ openvpn_cipher }}
auth {{ openvpn_auth }}
verb 3

<ca>
{{ lookup('file', '/etc/openvpn/easy-rsa/pki/ca.crt') }}
</ca>

<cert>
{{ lookup('file', '/etc/openvpn/easy-rsa/pki/issued/' + item + '.crt') }}
</cert>

<key>
{{ lookup('file', '/etc/openvpn/easy-rsa/pki/private/' + item + '.key') }}
</key>